<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<script src="/public/js/modernizr.js"></script>
  	
	<title>MorningPong - Node.js - web app</title>
</head>
<body>
<section class="cd-intro">
	<div class="cd-intro-content bouncy">
		<h1>MorningPong.JS</h1>
		<p>Under Construction (Development web site)</p>
		<p>{{Norris}}</p>
	</div>
</section>
	
<script src="/public/js/jquery-2.1.4.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>